venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.DS_Store
outputs/*
models/*
data/processed/*.json
data/processed/*.csv
ai/data/dataset/
ai/data/samples/*.mkv
ai/models/*.pkl

ai/data/dataset/imagenes/
